@page
@model webserver.Pages.Seeds.RealEstateSeed
@{
    ViewData["Title"] = "RealEstateSeed";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>@Model.generalseed</p>
    <br>
    <p>@Model.countryseed</p>
</div>