@page
@model webserver.Pages.Views.RealEstateProfile
@{
    ViewData["Title"] = "RealEstateProfile";
}

<div>
    <br>
    <h1>@Model.realEstate!.Name</h1>
    <p>Company:@Model.OwnerCompany!.UserName</p>
    <br>
    <p><strong>Address</strong>: @Model.realEstate.Address</p>
    <p><strong>Price</strong>: @Model.realEstate.Price</p>
</div>