@page
@model webserver.Pages.About

<style>
    .line-spacing {
        line-height: 1.2;
    }
</style>


<h3>@ViewData["Title"]</h3>

<div class="line-spacing">
    <h1>About Legendary Guacamole</h1>
    <p></p>
    <p>Guacamole is a multi-tenant royal-state web service</p>
    <p>
        A <b>.NET Core</b> web app project, written mostly in <b>C#</b>, and a <b>MySQL</b> for database management system
    </p>
    <p>Both the Database and the Webserver project
        are dockerized
    </p>
    <p>
        This enterprise was developed and deployed in <b>Linux</b> systems
    </p>
    <p>Although meant for a tech-demo, the project was fully designed and developed meeting serious project standards
    </p>
    <p>The project contains a <b>RESTful JSON:API</b> for communicating with the database</p>
    <p>
        The API's documentation, as well as the project's source code, are available in<a href="https://github.com/pgbezerra-org/legendary-guacamole">GitHub</a>
    </p>
    <hr>
    <a href="https://www.linkedin.com/in/matheus-lacerda96/">LinkedIn</a> |
    <a href="https://www.linkedin.com/in/matheus-lacerda96/">GitHub</a> |
    <a href="/webserver/wwwroot/Media/Resume-Matheus-Lacerda-Bezerra.pdf" download="Resume-Matheus-Lacerda">Resume/CV</a>

    <hr>
    <body>
        <p><b>- Technologies used:</b></p>

        <ul>
            <li><b>Asp .NET Core</b>: a popular framework for multi-tenant web services</li>
            <p></p>
            <li><b>C#</b>: a good mix for .NET, permiting a fine control with .NET and Database utilization</li>
            <p></p>
            <li><b>MySQL</b>: our project required a reliable and performant Database Management</li>
            <p></p>
            <li><b>RESTful JSON:API</b>: A standardized API for making CRUD operations with the database</li>
            <p></p>
            <li><b>Docker</b>: the tool for packaging the project and the database within a single file, allowing for quick development</li>
            <p></p>
            <li><b>Linux</b>: hard not to think of Linux systems when deploying Docker containers in Cloud services</li>
            <p></p>
            <li><b>Git</b>: the main tool for version control and descentralized development</li>
        </ul>
    </body>
</div>