@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">Legendary Guacamole</h1>
    <p>Your Real-Estates Company platform!</p>
</div>

<footer class="border-top footer text-muted">
    <p></p>    
    <div class="container">
        &copy; <a asp-area="" asp-page="/About">About</a> this project</a>
    </div>
</footer>