@page
@model webserver.Pages.Accounts.LogOut
@{
    ViewData["Title"] = "Log Out";
}

<h2>@ViewData["Title"]</h2>
<p></p>
<div>
    <h3>Are you sure you want to log out?</h3>
    <p></p>
    <form method="post">
        <input type="submit" class="btn btn-primary" name="logout" value="Yes" />
        <input type="submit" class="btn btn-success" name="logout" value="No" />
    </form>
    
</div>